.data/v1/content_repository/
.data/v1/flowfile_repository/
.data/v1/provenance_repository/
.data/v1/state/
.data/v1/database_repository/
.data/v1/conf/*.*
.data/v1/conf/archive
!.data/v1/conf/bootstrap.conf
!.data/v1/conf/flow.*.gz
!.data/v1/conf/nifi.properties



.data/v2/content_repository/
.data/v2/flowfile_repository/
.data/v2/provenance_repository/
.data/v2/state/
.data/v2/database_repository/
.data/v2/conf/archive
.data/v2/conf/*.*
.data/v2/conf/archive
!.data/v2/conf/bootstrap.conf
!.data/v2/conf/flow.*.gz
!.data/v2/conf/nifi.properties